h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .produto-detalhe {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .produto-detalhe p {
    margin-bottom: 10px; 
  }
  

  .produto-detalhe strong {
    font-weight: bold; 
    color: #555;
  }
  

  .produto-detalhe span {
    color: #333; 
    font-weight: bold;
  }
  