<h1>Produtos</h1>

<div class="filtros-container">
  <div class="filtro">
    <label for="precoMinimo">Preço Mínimo:</label>
    <input id="precoMinimo" type="number" [(ngModel)]="precoMinimo" (change)="atualizarFiltro()">
  </div>

  <div class="filtro">
    <label for="precoMaximo">Preço Máximo:</label>
    <input id="precoMaximo" type="number" [(ngModel)]="precoMaximo" (change)="atualizarFiltro()">
  </div>

  <div class="filtro">
    <label for="quantidadeMinima">Quantidade Mínima:</label>
    <input id="quantidadeMinima" type="number" [(ngModel)]="quantidadeMinima" (change)="atualizarFiltro()">
  </div>

  <div class="filtro">
    <label for="nomeProduto">Nome do Produto:</label>
    <input id="nomeProduto" type="text" [(ngModel)]="nome" (input)="atualizarFiltro()">
  </div>
</div>

<!-- <div *ngIf="produtosFiltrados.length > 0">
  <h3>Produtos Filtrados:</h3>
  <ul>
    <li *ngFor="let produto of produtosFiltrados">
      {{ produto.nome }} - Preço: {{ produto.preco }} - Quantidade: {{ produto.quantidade }}
    </li>
  </ul>
</div> -->

  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Quantidade</th>
        <th>Defeitos</th>
        <th>Disponível</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>

        <tr *ngFor="let produto of produtosFiltrados">
          <td>{{ produto.nome }}</td>
          <td>{{ produto.quantidades }}</td>
          <td>{{ produto.defeitos }}</td>
          <td>{{ produto.quantidades - produto.defeitos }}</td>
          <td>{{ produto.preco }}</td>
        </tr>
      <!-- <tr *ngFor="let produto of produtos">
        <td>{{ produto.nome }}</td>
        <td>{{ produto.quantidades }}</td>
        <td>{{ produto.defeitos }}</td>
        <td>{{ produto.quantidades - produto.defeitos }}</td>
        <td>{{ produto.preco }}</td>
      </tr> -->
    </tbody>
  </table>

